<% layout('/zh/layout.html') -%>
<% include ./module/head.ejs %>
<div class="g-bd f-cb">
	<% include ./module/side.ejs %>
    <div class="g-mn">
		<div class="main">
			<h3>联系方式</h3>
			<div class="mainbox">
        		<ul class="ucon">
		            <li>联系人：沈新浓</li>
		            <li>电话：<span>0573-88499750</span></li>
		            <li>传真：<span>0573-88495750</span></li>
		            <li>手机：<span>13356018518</span></li>
		            <li>电子邮箱：kevinyan@townjoy.com</li>
		            <li>联系地址：浙江省桐乡市大麻镇西南开发区</li>
		            <li>邮政编码：314514</li>
				</ul>
			</div>
     	</div>
    </div>
</div>

