<% layout('/zh/layout.html') -%>
<% include ./module/head.ejs %>
<div class="g-bd f-cb">
	<% include ./module/side.ejs %>
    <div class="g-mn">
		<div class="f-cb">
			<div class="intr">
				<h3>公司介绍</h3>
				<div class="intrbox">
					<a href="#" class="img"><img src="/images/t1.jpg"></a>
					<p>
						桐锦天进出口有限公司位于经济繁荣的长三角核心区域：浙江省桐乡市。东近上海，西临杭州，是国内外客户来访洽谈业务的便利之地。我公司主营沙发布、围巾和蚕丝被三大系列产品。产品畅销欧美、日韩、东南亚和中东等各个国家和地区，深受国内外客户的广泛好评！
						<a hre="#" class="more">更多</a>
					</p>
				</div>
	        </div>
	        <div class="event">
            	<h3>新闻动态</h3>
            	<ul>
					<li><a href="#">桐乡市桐锦天进出口有限公司成立</a></li>
					<li><a href="#">公司相关领导介绍</a></li>
				</ul>
            </div>
    	</div>
        <div class="scene">
        	<h3>产品与服务</h3>
        	<div class="picbox">
             	<ul>
             		<li><a href="#"><img src="/images/scene/sofa.jpg" alt=""/></a></li>
					<li><a href="#"><img src="/images/scene/cotton.jpg" alt=""/></a></li>
					<li><a href="#"><img src="/images/scene/silk.jpg" alt=""/></a></li>
					<li><a href="#"><img src="/images/scene/cashmere.jpg" alt=""/></a></li>
					<li><a href="#"><img src="/images/scene/quilt.jpg" alt=""/></a></li>
             	</ul>
         	</div>
     	</div>
    </div>
</div>
