<!DOCTYPE html>
<head>
<title>桐乡市桐锦天进出口有限公司</title>
<meta name="keywords" content=" 桐乡, 桐锦天, 进出口, 沙发布, 围巾, 纯棉围巾, 丝绸围巾, 羊绒围巾, 蚕丝被, 丝绵被 ">
<meta name="description" content=" 桐乡市桐锦天进出口有限公司主营沙发布、围巾和蚕丝被三大系列产品。公司与全国各大院校，科研院所，原料供应商，染整设计和服装厂商开展了广泛的合作，努力在产品上不断的创新求变，以适应市场变化的需求，谋求更大更宽广的产业发展空间。公司产品远销欧美、日韩、东南亚和中东等地，深受国内外用户好评！ ">
<link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
	<%- body %>
	<% include ./module/foot.ejs %>
	<script type="text/javascript" src="/javascripts/lib/jquery-2.2.3.min.js"></script>
	<script type="text/javascript" src="/javascripts/index.js"></script>
</body>
</html>
