<!DOCTYPE html>
<head>
<title>桐乡市桐锦天进出口有限公司</title>
<meta name="keywords" content=" 桐乡, 桐锦天, 进出口, 沙发布, 围巾, 纯棉围巾, 丝绸围巾, 羊绒围巾, 蚕丝被, 丝绵被 ">
<meta name="description" content=" 桐乡市桐锦天进出口有限公司主营沙发布、围巾和蚕丝被三大系列产品。公司与全国各大院校，科研院所，原料供应商，染整设计和服装厂商开展了广泛的合作，努力在产品上不断的创新求变，以适应市场变化的需求，谋求更大更宽广的产业发展空间。公司产品远销欧美、日韩、东南亚和中东等地，深受国内外用户好评！ ">
<link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
	<% include ./module/head.ejs %>
	<div class="g-bd f-cb">
		<% include ./module/side.ejs %>
        <div class="g-mn">
			<div class="main">
				<h3>围巾</h3>
				<div class="mainbox f-cb">
				    <h4 id="A0">纯棉围巾系列</h4>
					  <div><a href="/images/pic/scarf/cotton/1.jpg" class="gal"><img src="/images/pic/scarf/cotton/1.jpg" alt=""></a></div>
					  <div><a href="/images/pic/scarf/cotton/2.jpg" class="gal"><img src="/images/pic/scarf/cotton/2.jpg" alt=""></a></div>
					  <div><a href="/images/pic/scarf/cotton/3.jpg" class="gal"><img src="/images/pic/scarf/cotton/3.jpg" alt=""></a></div>
					  <div><a href="/images/pic/scarf/cotton/4.jpg" class="gal"><img src="/images/pic/scarf/cotton/4.jpg" alt=""></a></div>
					  <div><a href="/images/pic/scarf/cotton/5.jpg" class="gal"><img src="/images/pic/scarf/cotton/5.jpg" alt=""></a></div>
					  <div><a href="/images/pic/scarf/cotton/6.jpg" class="gal"><img src="/images/pic/scarf/cotton/6.jpg" alt=""></a></div>
					<h4 id="A1">丝绸围巾系列</h4>
					  <div><a href="/images/pic/scarf/silk/1.jpg" class="gal"><img src="/images/pic/scarf/silk/1.jpg" alt=""></a></div>
					  <div><a href="/images/pic/scarf/silk/2.jpg" class="gal"><img src="/images/pic/scarf/silk/2.jpg" alt=""></a></div>
					  <div><a href="/images/pic/scarf/silk/3.jpg" class="gal"><img src="/images/pic/scarf/silk/3.jpg" alt=""></a></div>
					  <div><a href="/images/pic/scarf/silk/4.jpg" class="gal"><img src="/images/pic/scarf/silk/4.jpg" alt=""></a></div>
					  <div><a href="/images/pic/scarf/silk/5.jpg" class="gal"><img src="/images/pic/scarf/silk/5.jpg" alt=""></a></div>
					  <div><a href="/images/pic/scarf/silk/6.jpg" class="gal"><img src="/images/pic/scarf/silk/6.jpg" alt=""></a></div>
					  <div><a href="/images/pic/scarf/silk/7.jpg" class="gal"><img src="/images/pic/scarf/silk/7.jpg" alt=""></a></div>
					  <div><a href="/images/pic/scarf/silk/8.jpg" class="gal"><img src="/images/pic/scarf/silk/8.jpg" alt=""></a></div>
					  <div><a href="/images/pic/scarf/silk/9.jpg" class="gal"><img src="/images/pic/scarf/silk/9.jpg" alt=""></a></div>
				    <h4 id="A2">羊绒围巾系列</h4>
					  <div><a href="/images/pic/scarf/cashmere/1.jpg" class="gal"><img src="/images/pic/scarf/cashmere/1.jpg" alt=""></a></div>
					  <div><a href="/images/pic/scarf/cashmere/2.jpg" class="gal"><img src="/images/pic/scarf/cashmere/2.jpg" alt=""></a></div>
					  <div><a href="/images/pic/scarf/cashmere/3.jpg" class="gal"><img src="/images/pic/scarf/cashmere/3.jpg" alt=""></a></div>
					  <div><a href="/images/pic/scarf/cashmere/4.jpg" class="gal"><img src="/images/pic/scarf/cashmere/4.jpg" alt=""></a></div>
					  <div><a href="/images/pic/scarf/cashmere/5.jpg" class="gal"><img src="/images/pic/scarf/cashmere/5.jpg" alt=""></a></div>
					  <div><a href="/images/pic/scarf/cashmere/6.jpg" class="gal"><img src="/images/pic/scarf/cashmere/6.jpg" alt=""></a></div>
					  <div><a href="/images/pic/scarf/cashmere/7.jpg" class="gal"><img src="/images/pic/scarf/cashmere/7.jpg" alt=""></a></div>
					  <div><a href="/images/pic/scarf/cashmere/8.jpg" class="gal"><img src="/images/pic/scarf/cashmere/8.jpg" alt=""></a></div>
					  <div><a href="/images/pic/scarf/cashmere/9.jpg" class="gal"><img src="/images/pic/scarf/cashmere/9.jpg" alt=""></a></div>
				</div>
         	</div>
        </div>
	</div>
	<% include ./module/foot.ejs %>
<script type="text/javascript" src="/javascripts/lib/jquery-2.2.3.min.js"></script>
<script type="text/javascript" src="/javascripts/index.js"></script>
</body>
</html>
