<% layout('/zh/layout.html') -%>
<% include ./module/head.ejs %>
<div class="g-bd f-cb">
	<% include ./module/side.ejs %>
	<div class="g-mn">
		<div class="main">
			<h3>沙发布</h3>
			<div class="mainbox f-cb">
				<div><a href="/images/pic/sofa/308-1.jpg"><img src="/images/pic/sofa/308-1.jpg" alt=""></a></div>
				<div><a href="/images/pic/sofa/308-2.jpg"><img src="/images/pic/sofa/308-2.jpg" alt=""></a></div>
				<div><a href="/images/pic/sofa/308-3.jpg"><img src="/images/pic/sofa/308-3.jpg" alt=""></a></div>
				<div><a href="/images/pic/sofa/308-4.jpg"><img src="/images/pic/sofa/308-4.jpg" alt=""></a></div>
				<div><a href="/images/pic/sofa/308-5.jpg"><img src="/images/pic/sofa/308-5.jpg" alt=""></a></div>
				<div><a href="/images/pic/sofa/308-6.jpg"><img src="/images/pic/sofa/308-6.jpg" alt=""></a></div>
				<div><a href="/images/pic/sofa/308-7.jpg"><img src="/images/pic/sofa/308-7.jpg" alt=""></a></div>
				<div><a href="/images/pic/sofa/308-8.jpg"><img src="/images/pic/sofa/308-8.jpg" alt=""></a></div>
				<div><a href="/images/pic/sofa/308-12.jpg"><img src="/images/pic/sofa/308-12.jpg" alt=""></a></div>
				<div><a href="/images/pic/sofa/308-13.jpg"><img src="/images/pic/sofa/308-13.jpg" alt=""></a></div>
				<div><a href="/images/pic/sofa/308-14.jpg"><img src="/images/pic/sofa/308-14.jpg" alt=""></a></div>
				<div><a href="/images/pic/sofa/308-15.jpg"><img src="/images/pic/sofa/308-15.jpg" alt=""></a></div>
			</div>
		</div>
	</div>
</div>
