<% layout('/zh/layout.html') -%>
<% include ./module/head.ejs %>
<div class="g-bd f-cb">
	<% include ./module/side.ejs %>
    <div class="g-mn">
		<div class="main">
			<h3>公司介绍</h3>
			<div class="mainbox">
				<a href="#" class="img"><img src="/images/t1.jpg"></a>
				<p>桐锦天进出口有限公司位于经济繁荣的长三角核心地带：浙江省桐乡市。公司所处地理位置环境优越，交通方便，东近上海150公里，西临杭州45公里，到萧山国际机场仅需40分钟车程，是国内外客户来访洽谈业务的便利之地。</p>
				<p>公司秉承“以人为本，科学管理，同心同德，共创辉煌”的管理理念以及“诚信，合作，共赢”的经营理念，坚持“专心、专注、专业”的工作思路，独创“差异化、个性花、特色化”的开发思路，确立了“成为中国纺织品行业优秀供应商”的奋斗目标。</p>
				<p>公司主营沙发布、围巾和蚕丝被三大系列产品，并与全国各大院校，科研院所，原料供应商，染整设计和服装厂商开展了广泛的合作，努力在产品上不断的创新求变，以适应市场变化的需求，谋求更大更宽广的产业发展空间。</p>
				<p>公司产品远销欧美、日韩、东南亚和中东等多个国家和地区。产品质量深受国内客户外好评！</p>
			</div>
     	</div>
    </div>
</div>

