<div class="g-hd">
    <div class="m-contact f-cb">
        <div class="name"><img src=""/></div>
        <div class="phone">
            <div class="img">
                <img src=""/>
            </div>
            <div class="txt">
                <p>english</p>
            </div>
        </div>
    </div>
    <div class="m-nav">
        <ul>
            <li><a href="/">网站首页</a></li>
            <li><a href="/zh/summary">公司介绍</a></li>
            <li><a href="/zh/product">主营产品</a></li>
            <li><a href="/zh/contact">联系方式</a></li>
        </ul>
    </div>
    <div class="m-slide" id="slide">
        <ol>
            <li class="z-crt"><a href="#"><img src="/images/slide/slide.jpg" alt=""/></a></li>
            <li><a href="#"><img src="/images/slide/slide1.jpg" alt=""/></a></li>
            <li><a href="#"><img src="/images/slide/slide2.jpg" alt=""/></a></li>
            <li><a href="#"><img src="/images/slide/slide3.jpg" alt=""/></a></li>
        </ol>
        <span class="u-pointer u-pointer-rt"><i class="z-crt"></i><i></i><i></i><i></i></span>
    </div>
</div>
