<div class="g-hd">
    <div class="m-logo f-cb">
        <div class="logo f-fl">
            <img src="/images/logo.png"/>
            <span>桐锦天进出口有限公司</span>
        </div>
        <div class="language f-fr">
            <a href="">English</a>
        </div>
    </div>
    <div class="m-nav">
        <ul class="nav">
            <li><a href="/">网站首页</a></li>
            <li>
                <a href="/zh/summary">桐锦天</a>
                <ul class="subnav">
                    <li><a href="/zh/summary">公司介绍</a></li>
                    <li><a href="#">公司结构</a></li>
                    <li><a href="#">企业文化</a></li>
                </ul>
            </li>
            <li>
                <a href="/zh/product">产品与服务</a>
                <ul class="subnav">
                    <li><a href="/zh/sofa">沙发布系列</a></li>
                    <li><a href="/zh/scarf">围巾系列</a></li>
                    <li><a href="/zh/quilt">蚕丝被系列</a></li>
                </ul>
            </li>
            <li><a href="/zh/contact">新闻动态</a></li>
            <li>
                <a href="/zh/contact">人力资源</a>
                <ul class="subnav">
                    <li><a href="#">薪资福利</a></li>
                    <li><a href="#">人才招聘</a></li>
                </ul>
            </li>
            <li><a href="/zh/contact">联系我们</a></li>
        </ul>
    </div>
    <div class="m-slide" id="slide">
        <ol>
            <li class="z-crt"><a href="#"><img src="/images/slide/slide.jpg" alt=""/></a></li>
            <li><a href="#"><img src="/images/slide/slide1.jpg" alt=""/></a></li>
            <li><a href="#"><img src="/images/slide/slide2.jpg" alt=""/></a></li>
            <li><a href="#"><img src="/images/slide/slide3.jpg" alt=""/></a></li>
        </ol>
        <span class="u-pointer u-pointer-rt"><i class="z-crt"></i><i></i><i></i><i></i></span>
    </div>
</div>
