<div class="g-sd">
    <div class="product">
        <h3>产品与服务</h3>
        <ul class="">
            <li><i></i></i><a href="/zh/sofa">沙发布系列</a></li>
            <li><i></i></i><a href="/zh/scarf">围巾系列</a></li>
            <li class="sub"><i></i><a href="/zh/scarf#A0">纯棉围巾</a></li>
            <li class="sub"><i></i><a href="/zh/scarf#A1">丝绸围巾</a></li>
            <li class="sub"><i></i><a href="/zh/scarf#A2">羊绒围巾</a></li>
            <li><i></i><a href="/zh/quilt">蚕丝被系列</a></li>
        </ul>
    </div>
    <div class="contact">
        <h3>联系我们</h3>
        <ul class="">
            <li>联系人：沈新浓</li>
            <li>电话：<span>0573-88499750</span></li>
            <li>手机：<span>13356018518</span></li>
            <li>传真：<span>0573-88495750</span></li>
            <li>Email：kevinyan@townjoy.com</li>
            <li>地址：浙江省桐乡市大麻镇西南开发区</li>
            <li>邮政编码：314514</li>
        </ul>
    </div>
</div>
